<!-- tips/templates/tips/base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Tips Site</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <!-- ログイン中 -->
            Hello {{ user.username }}!
            |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <!-- 未ログインの場合はExercise00の匿名ユーザー名を表示 -->
            Hello {{ request.session.anonymous_name }}!
            |
            <a href="{% url 'register' %}">Register</a>
            |
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        |
        <a href="{% url 'homepage' %}">Home</a>
    </nav>
    <hr>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
