<!-- myproject/tips/templates/tips/homepage.html -->
{% extends 'tips/base.html' %} {% block content %}
<h1>All Tips</h1>

<ul>
  {% for tip in tips %}
  <li>
    <strong>{{ tip.author.username }}</strong>
    <em>{{ tip.created_at }}</em><br />
    {{ tip.content }}

    <span>Upvotes: {{ tip.upvote_count }} / Downvotes: {{ tip.downvote_count}}</span><br />

    <!-- ログイン時のみ操作可 -->
    {% if user.is_authenticated %}
        <a href="{% url 'tip_upvote' tip.id %}">Upvote</a> |
        
        <!-- user is author or user has custom permission can_downvote_tip -->
        {% if tip.author == user or perms.tips.can_downvote_tip %}
          <a href="{% url 'tip_downvote' tip.id %}">Downvote</a> |
        {% endif %}

        <!-- user is author or user has model permission delete_tip -->
        {% if tip.author == user or perms.tips.delete_tip %}
            <a href="{% url 'tip_delete' tip.id %}">Delete</a>
        {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<h2>Add a new Tip</h2>
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit Tip</button>
</form>
{% else %}
<p>You must be logged in to post a new tip.</p>
{% endif %}

<script>
  // Redirect after 43 seconds (43000 milliseconds) from page load
  setTimeout(function () {
    window.location.href = "/tips/home/";
  }, 43000);
</script>
{% endblock %}
