<!-- tips/templates/tips/register.html -->
{% extends 'tips/base.html' %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <div>
        {{ form.password_confirm.label_tag }}<br>
        {{ form.password_confirm }}
        {{ form.password_confirm.errors }}
    </div>
    <button type="submit">Sign Up</button>
</form>
{% endblock %}
